In [16]:
#Question 1
def fullname(first,last):
  return (first+" "+last)


first=input("enter the first name: ")
last=input("enter the last name: ")
full=fullname(first,last)
print("Full_name: "+full)

def string_alternative(full):
  alter_string=''
  for i in range(0,len(full),2):
    alter_string+=full[i]
  return alter_string


print("alternative string: "+string_alternative(full))

enter the first name: Good
enter the last name: Evening
Full_name: Good Evening
alternative string: Go vnn

*   Write a function to concatenate first and last name into a full name
*    Prompt the user for their first name and last name
*    Call the fullname function with user input and store the result in 'full'
*    Print the full name to the console.

Function to return every alternate character from a given string

*    Initialize an empty string to store the alternate characters
*    Iterate over the string, skipping every second character
*    Add the character at the current index to the result string
*    Return the final string with alternate characters

In [18]:
#Question 2
word_count={}

with open("output.txt", "w") as file_open:
  with open("input.txt", "r") as file:
      for line in file:
          file_open.write(line)
          line = line.strip()
          words = line.split(" ")
          for word in words:
              if word in word_count:
                  word_count[word]+=1
              else:
                  word_count[word]=1
      file_open.write("\nWord_Count:\n")
with open('output.txt', 'a') as f:
  for word in word_count:
    f.write(f"{word}: {word_count[word]}\n")

with open("output.txt","r") as f1:
  for line in f1:
    print(line)

Python Course

Deep Learning Course

Word_Count:

Python: 1

Course: 2

Deep: 1

Learning: 1

*    Initialize an empty dictionary to store word frequencies
*    Open 'output.txt' in write mode
*    Open the file "input.txt" in read mode
*    Iterate over each line in "input.txt"
*    Write the original line to 'output.txt'
*    Remove leading and trailing whitespace from the line
*    Split the line into words using a space as the delimiter
*    Iterate over each word in the list of words
*    Check if the word is already in the dictionary
*    If the word exists, increment its count by 1
*    If the word is not in the dictionary, add it with a count of 1
*    Add a newline character to 'output.txt'
*    Append word counts to 'output.txt'
*    Iterate over each word in the dictionary
*    Write the word and its count to 'output.txt'
*    Read 'output.txt' and print its contents

In [19]:
#Question 3
print("Enter heights in inches")
heights_in_inches = list(map(float,input().split(" ")))
print("Heights in inches")
print(heights_in_inches)
# Nested Comprehension
heights_in_cms = []
for height in heights_in_inches:
    height_cm = round(height*2.54,2)
    heights_in_cms.append(height_cm)

print("Heights in centimetres (Converted using nested comprehension)")
print(heights_in_cms)

# list comprehension
heights_in_cms_comprehension = [round(height*2.54,2) for height in heights_in_inches]

print("Heights in centimetres (Converted using list comprehension)")
print(heights_in_cms_comprehension)

Enter heights in inches
150 155 145 148
Heights in inches
[150.0, 155.0, 145.0, 148.0]
Heights in centimetres (Converted using nested comprehension)
[381.0, 393.7, 368.3, 375.92]
Heights in centimetres (Converted using list comprehension)
[381.0, 393.7, 368.3, 375.92]



*   input().split(" ") splits the entire line into chunks by using space(" ") delimiter
*   map function converts the input strings into float values
*   list function allows to convert the individual float values into list of float values

Nested Comprehension

*    using a loop, accessing each value in the list of heights_in_inches
*    converts each value into centimetres and rounds up the value upto 2 decimal values
*   next line adds converted value into heights_in_cms list

list comprehension

*    for height in heights_in_inches iterates the list and accesses each value to convert into centimetres
*    round(height*2.54,2) converts inches into centimetres and rounds the result to 2 decimal places